spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/postgres
    username: postgres
    password: postgres

server:
  forward-headers-strategy: framework

springdoc:
  servers:
    - url: https://api.localhost
