server:
  port: 8080

spring:
  application:
    name: vendor-platform

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres

  spring:
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: false
  jpa:
    hibernate:
      ddl-auto: validate

security:
  jwt:
    secret: THIS_IS_A_SUPER_SECURE_JWT_SECRET_KEY_32_CHARS_MINIMUM
    expiry: 3600000 # 1 hour


